#app {
    height: 100%;
  }

  .swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper-pagination-bullet {
    display: none;
  }

  .swiper-button-next {
    color: #fff;
    display: none;
  }

  .swiper-button-prev {
    color: #fff;
    display: none;
  }

  /* ******************** */

  /* Transição suave para o swiper-wrapper */
.swiper-wrapper {
    transition: transform 0.5s ease-in-out; /* Suaviza a transição para 0.5 segundos */
  }

.swiper-wrapper {
position: relative;
width: 100%;
height: 100%;
z-index: 1;
display: flex;
transition-property: transform;
transition-timing-function: ease-in-out;
box-sizing: content-box;
}  
  
  /* Overlay para as imagens no slide */
  .slide img {
    position: relative;
    width: 100%;
    height: auto;
  }
  
  .swiper-wrapper::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); /* Sombreamento preto com opacidade */
    transition: opacity 0.3s ease-in-out; /* Suaviza a aparição do overlay */
    z-index: 1;
  }
  
  /* Ajusta o overlay na transição */
  .slide:hover::before {
    opacity: 0.5; /* Mais escuro ao passar o mouse */
  }